header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--light-green);
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-side {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav a {
  position: relative;
  color: var(--dark);
  text-decoration: none;
  font-size: 1.2rem;
  padding-bottom: 4px;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2;
  background: var(--accent);
  transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active-link::after {
  width: 100%;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 1rem;
  }
}
