/* Import Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Nova+Flat&family=Viaoda+Libre&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Funnel Sans', sans-serif;
  background-color: #260e4e;
  color: #e6d8b9;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at top, #2d2158, #0b0a14 70%);
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(58, 42, 95, 0.877), rgba(0,0,0,0.75));
  z-index: 0;
}

.banner{
  text-align: center;
  padding: 30px 0;
  background: transparent;
  color: #d9b45d;
  position: relative;
  z-index: 2;
}

.banner h1 {
 font-family: "Nova Flat", sans-serif;
 font-size: 3rem;
 text-shadow: 0 0 25px #c0902d;
 letter-spacing: 2px;
 color: #e7c46a;
}

.banner h2 {
  font-family: 'Viaoda Libre', serif;
  font-size: 1.4rem;
  margin-top: 5px;
  color: #cba85c;
}

.sign-in-container {
  text-align: right;
  padding: 10px 20px;
  z-index: 3;
}

.sign-in-link {
  font-size: 1rem;
  color: #e7c46a;
  text-decoration: none;
  transition: 0.3s ease;
}

.sign-in-link:hover {
  color: #f8d98b;
  text-shadow: 0 0 12px #f8d98b;
}

.main-content{
  display: flex;
  gap: 30px;
  padding: 20px;
  z-index: 1;
  flex: 1;
}

.navbar{
  width: 230px;
  padding: 25px;
  background-color: #160f26;
  border-right: 2px solid #d9b45d;
  border-radius: 0 10px 10px 0;
  box-shadow: 6px 0 18px rgba(0,0,0,0.4);
}

.navbar ul{
  list-style-type: none;
}

.navbar li {
  padding: 12px 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  font-size: 1.05rem;
  color: #e7c46a;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s ease;
}

.navbar li img {
  width: 22px;
  filter: drop-shadow(0 0 4px rgba(255,215,0,0.4));
}

.navbar li:hover{
  background-color: rgba(255, 215, 150, 0.15);
  box-shadow: 0 0 12px rgba(255,215,100,0.5);
  transform: translateX(4px);
}

.navbar a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.content {
  flex: 1;
  padding: 50px;
  background: rgba(42, 31, 76, 0.85);
  border: 1px solid rgba(255, 215, 120, 0.25);
  border-radius: 20px;
  max-width: 1200px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6), inset 0 0 25px rgba(255,215,120,0.05);
}

p {
  line-height: 1.7;
  color: #e6d8b9;
  margin-bottom: 18px;
  font-size: 1.1rem;
}


footer{
  text-align: center;
  background: #160f26;
  padding: 20px;
  color: #d9b45d;
  border-top: 1px, solid #d9b45d;
  font-size: 0.95rem;
  z-index: 3;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom:12px;
}

.footer-nav a {
  color: #d9b45d;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #f2dba4;
}


@media (max-width: 850px) {
  .main-content {
    flex-direction: column;
  }

  .navbar {
    width: 100px;
    border-right: none;
    border-bottom: 2px solid #d9b45d;
    border-radius: 0 0 10px 10px;
  }

  .content {
    padding: 30px;
  }
}


